@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
/* *{
    margin: 0;
    padding: 30px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */
/* .title{
    margin-top: -204px;
    padding: 15%;
}*/
body{
    background-color: rgba(255, 239, 14, 0.507);
}
.input{
    position: relative;
    margin-top: 0px;
    margin-left: 25.3%;
    margin-bottom: 50px;
} 
.generatedqr{
    position: relative;
    margin-top: 0px;
    margin-left: 8%;
    margin-bottom: 50px;
}
.title h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;

    font-size: 35px;
    background: -webkit-linear-gradient(rgb(193, 10, 248), rgb(250, 95, 23));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
